"""
YouTube Data API Credentials Template
1. Go to https://console.cloud.google.com/
2. Create a new project or select existing one
3. Enable "YouTube Data API v3"
4. Go to Credentials > Create Credentials > API Key
5. Copy the API key below
6. Rename this file to: youtube_credentials.py
"""

YOUTUBE_API_KEY = "your_youtube_api_key_here"
